* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    height: 600px;
    width: 1000px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    margin: 10px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: #197b10;
}

.box1{
    order: 0;
    background-color: #f13b3b;
}
.box2{
    order: 1;
    background-color: #edeb42;
    color: black;
}
.box4{
    flex-grow: 2;
    background-color: brown;
}
.box6{
    flex-grow: 1;
    flex-shrink: 2;
    background-color:deepskyblue;
}

.box3{
    align-self: flex-start;
}

.box5{
    order: -1;
}