* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

#box1 {
    margin: 50px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: rgb(251, 150, 150);
    border-radius: 10px;

    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0s;
}

#box1:hover {
    background-color: rgb(148, 30, 30);
    height: 200px;
    width: 200px;
    border-radius: 30px;
}

#box2 {
    margin: 50px 0 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 500px;
    background-color: rgb(34, 156, 170);
    border-radius: 30px;
    color: white;

    transition-property: all;
    transition-duration: 1.5s;
    transition-delay: 0s;
}

#box2:hover {
    background-color: rgb(255, 140, 47);
    width: 250px;
    border-radius: 30px;
}

#box3 {
    margin: 0 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: rgb(251, 150, 150);
    border-radius: 10px;

    animation-name: pop-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pop-in-out {
    0% {
        background-color: rgb(255, 130, 130);
        margin-left: 50;
    }

    20% {
        background-color: rgb(103, 255, 79);
        margin-left: 200px;
        margin-top: 0px;
    }

    40% {
        background-color: rgb(53, 231, 247);
        margin-left: 200px;
        margin-top: 200px;
    }

    60% {
        background-color: rgb(255, 245, 52);
        margin-left: 50px;
        margin-top: 200px;
    }

}